:root {
  --color-bg-dark: #181a1b;
  --text-color: #45484a;
  --text-color-desc: #8a8f93;
  --text-color-dark: #f2f2f3;
  --text-color-light: #27292a;
  --container-color: #1d1f20;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

*::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}
