:root {
  --color-bg-dark: #181a1b;
  --text-color: #45484a;
  --text-color-desc: #8a8f93;
  --text-color-dark: #f2f2f3;
  --text-color-light: #27292a;
  --container-color: #1d1f20;
  --border-color: #4e5255;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

.active {
  color: white;
}
